<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<title>Extract PDF Images</title>
	<link href="{{url_for('static',filename='css/main.css')}}" rel="stylesheet">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body class="bg-gradient-to-r from-red-300 via-blue-200 to-yellow-200">
	<div>
		<div>
			<img alt="" class="h-32 w-full object-cover lg:h-48" src="{{url_for('static',filename = 'images/bg-2.png')}}">
    </div>
    <div class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="-mt-12 sm:-mt-16 sm:flex sm:items-end sm:space-x-5">
            <div class="flex">
                <img alt="icon"
                     class="h-24 w-24 rounded-full ring-4 ring-yellow-500 sm:h-32 sm:w-32" src="{{url_for('static',filename = 'images/icon.png')}}">
            </div>
            <div class="mt-6 sm:flex-1 sm:min-w-0 sm:flex sm:items-center sm:justify-end sm:space-x-6 sm:pb-1">
                <div class="sm:hidden md:block mt-6 min-w-0 flex-1">
                    <h1 class="text-2xl font-bold text-gray-900 truncate">
                        Free tool to extract images from a PDF file (No Ads)
                    </h1>
                </div>
                <div class="mt-6 flex flex-col justify-stretch space-y-3 sm:flex-row sm:space-y-0 sm:space-x-4">
                </div>
            </div>
        </div>
        <div class="hidden sm:block md:hidden mt-6 min-w-0 flex-1">
            <h1 class="text-2xl font-bold text-gray-900 truncate">
                Free tool to extract images from a PDF file (No Ads)
            </h1>
        </div>
    </div>
</div>
<div class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8 mt-10">
    <div class="relative">
        <div aria-hidden="true"
             class="hidden absolute h-full w-1/2 bg-gradient-to-r from-yellow-200 via-red-300 to-blue-100 lg:block rounded-xl"></div>
        <div class="relative bg-gradient-to-r from-yellow-200 via-red-300 to-blue-100 lg:bg-transparent rounded-t-xl lg:rounded-xl">
            <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 lg:grid lg:grid-cols-2">
                <div class="max-w-2xl mx-auto py-10 lg:py-20 lg:max-w-none">
                    <div class="lg:pr-16">
                        <h1 class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl xl:text-5xl">Instantly Extract Images From PDF Files</h1>
                        <p class="mt-4 text-lg text-gray-600">Choose a PDF file from your computer to upload, and then
                            click Download Images.
                        <div class="mt-6">
                            <form action="/process" enctype="multipart/form-data" method="post">

                                    <input
                                            accept="application/pdf"
                                            class="text-md text-gray-700 font-medium mt-2 bg-lc-yellow-500"
                                            id="pdf-upload"
                                            name="file"
                                            type="file"
                                    />
                                
                                <input class="disabled:opacity-30 mt-3 cursor-pointer inline-block bg-indigo-600 border border-transparent py-1.5 px-4 rounded-md font-medium text-white hover:bg-indigo-700" type="submit"
                                       value="Download Images">
                                {% for category, message in get_flashed_messages(with_categories=True) %}
                                  <div class="alert-{{category}}">{{ message }}</div>
                                {% endfor %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-full h-48 sm:h-64 bg-transparent lg:absolute lg:top-0 lg:right-0 lg:w-1/2 lg:h-full">
            <img alt="" class="w-full h-full object-center object-cover rounded-b-xl lg:rounded-r-xl"
                 src="{{url_for('static',filename = 'images/hero-6.png')}}">
        </div>
    </div>
    <div class="py-10 md:flex md:items-center md:justify-between">
        <div class="text-center md:text-left">
            <p class="text-sm text-gray-500">&copy; 2021 - Created with ❤️ &nbsp;in <a href="https://vancouver.ca/" class="text-gray-500 hover:text-gray-900">Vancouver</a> Canada by Dermot Fitzpatrick using <a href="https://www.python.org/" class="text-gray-500 hover:text-gray-900">
          Python
        </a>, <a href="https://flask.palletsprojects.com/en/2.0.x/" class="text-gray-500 hover:text-gray-900">
          Flask
        </a>, and <a href="https://tailwindcss.com/" class="text-gray-500 hover:text-gray-900">
          Tailwindcss
        </a></p>
        </div>
        <div class="mt-4 flex items-center justify-center md:mt-0">
            <div class="flex space-x-8">
                <a class="text-sm text-gray-500 hover:text-gray-600" href="#">
                    Privacy
                </a>
                <a class="text-sm text-gray-500 hover:text-gray-600" href="#">
                    Terms
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>